{% extends "frame.html" %}

{% block title %}
Secret Number Game
{% endblock title %}

{% block css %}
    <link href="/static/css/style.css" rel="stylesheet">
{% endblock css %}


{% block content %}
    <h1>Welcome to the Secret Number Game</h1>
    <p>Guess the Secret Number</p>
    <p>
         <small>Hint: it is {{secret_number}}</small>
    </p>

    {% if secret_number > 5 %}
    <p>
         <small>Hint: it is greater than 5</small>
    </p>
    {% else %}
    <p>
         <small>Hint: it is less equal than 5</small>
    </p>
    {% endif %}
{% endblock content %}
